*{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 12px;
}
body{
    font-family: 'Lato', sans-serif;
}
header{
    background: #f9f9f9;
}
.header_wrapper{

display: flex;

justify-content: space-between;

width: 80%;

margin: auto;

padding: 15px;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{

}
nav{

width: 60%;
}
nav ul{
    
display: flex;
    
justify-content: end;
    
list-style: none;
}
nav ul li{
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    color: #2d3950;
    font-weight: 600;
}

.banner{

position: relative;
}
.banner img{
    width: 100%;
}
.banner_content{
    
position: absolute;
    
top: 50%;
    
left: 50%;
    
transform: translate(-50%, -50%);

text-align: center;
}

.banner_content h1{

text-transform: uppercase;

font-size: 90px;

color: #fff;
}
.banner_content span{
    
display: block;
    
height: 2px;
    
background: #15a4fa;
    
width: 100%;
    
margin-bottom: 15px;
    
margin-top: 16px;
}
.banner_content p{
    
color: #fff;
    
margin-bottom: 30px;
}
.banner_content button{
    
border: 1px solid #15a4fa;
    
background: transparent;
    
color: #fff;
    
padding: 15px 18px;
    
font-size: 16px;
    
font-weight: 700;
    
transition: .5s all ease-in-out;
    
margin-top: 35px;

}
.banner_content button:hover{
    background-color: #15a4fa;
}
.banner_content a{

text-decoration: none;

color: #fff;
}
.banner_content i{
    
position: absolute;
    
left: 150px;
    
bottom: -105px;
    
font-size: 25px;
    
color: #fff;
}

.pure{background-color: #f6f9f9;}

.design{

width: 80%;

text-align: center;

margin: auto;

padding: 35px;
}
.design h2{
    
font-size: 28px;
    
font-weight: 500;
    
margin-bottom: 25px;
    
color: #2d3950;
}
.design p{
    
font-size: 14px;
    
color: #999999;
    
line-height: 22px;
}

.icon{

background: #efefef;
}
.background{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 50px;
}
.icon_content{

width: 30%;

text-align: center;
}
.icon_content i{
    
font-size: 35px;
    
background: #5fc3ff;
    
height: 60px;
    
width: 60px;
    
margin-bottom: 25px;
    
line-height: 60px;
    
color: #fff;
}
.icon_content h3{
    
color: #2d3950;
    
font-weight: 500;
    
margin-bottom: 10px;
    
font-size: 20px;
}
.icon_content p{
    
color: #999999;
    
font-size: 14px;
}


.showcase{

background: #f6f9f9;
}
.showcase_content{

width: 80%;

margin: auto;

padding: 50px;
}
.showcase_heading{

text-align: center;
}
.showcase_heading h1{

font-size: 25px;

margin-bottom: 10px;

color: #2d3950;
}
.showcase_heading p{
    
color: #909090;
}
.showcase_pic{

display: flex;

justify-content: space-between;
}
.showcase_single_pic{

width: 30%;

margin-top: 60px;
}
.showcase_single_pic img{

width: 100%;
}

.contact_us{background-image:url(../images/9999.png);
background-position: center;
background-size: cover;
padding: 50px;
background-repeat: no-repeat;
}
.contact_header{

color: #fff;

text-align: center;

width: 40%;

margin: auto;
}
.contact_header h1{

font-size: 38px;
}
.contact_header p {

font-size: 12px;

margin-top: 8px;

margin-bottom: 35px;

font-weight: 300;
}
form{text-align: end;}
form input{

width: 100%;

border: none;

background: transparent;

border: 1px solid #fff;

padding: 17px 10px;

border-radius: 3px;

margin-top: 7px;

margin-bottom: 7px;

color: #fff;
}
form textarea{

width: 100%;

background: transparent;

border: 1px solid #fff;

border-radius: 3px;

padding: 10px;

margin-top: 7px;
color: #fff;
}
.submit{
    
width: initial;
    
padding: 12px 25px;
    
margin-right: -17px;
    
color: #fff;
    
border: 1px solid #15a4fa;
    
font-size: 12px;
    
text-transform: uppercase;
transition: .5s all ease-in-out;
}
.submit:hover{
    background: #15a4fa;
}

footer{

width: 70%;

margin: auto;

display: flex;

justify-content: space-between;

padding: 20px;

align-items: center;
}
.footer_content{

}
.footer_content p{
font-weight: 700;
}
.f_icon{width: 15%;}
.f_icon ul{

list-style: none;

display: flex;

justify-content: space-between;
}
.f_icon ul li{

background: #15a4fa;

height: 25px;

width: 25px;

text-align: center;

line-height: 25px;

color: #fff;

border-radius: 2px;
}
.f_icon ul li i{

}